<div class="container-fluid">
<div class="container-fluid text-center d-flex align-items-center justify-content-center">
  <h1 class="text-uppercase text-success">Welcome <%= current_user.username %></h1>
</div>
<% if logged_in? %>

<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-4">
<p class="text-center">
  <strong class="text-uppercase text-info">Name</strong><br>
  <%= current_user.name %>
</p>

<p class="text-center">
  <strong class="text-uppercase text-info">Username</strong><br>
  <%= current_user.username %>
</p>

<p class="text-center">
  <strong class="text-uppercase text-info">Email</strong><br>
  <%= current_user.email %>
</p>

<%= link_to 'Back', users_path %>

<%end%>

<%= button_to "Log Out", logout_path , method: :delete%>

<br>
<br>


<%= link_to 'Events Availabe', events_path %> <br>

<h3>My Events</h3>

<% current_user.events.each do |event| %>
  <%= event.description%>
  <td><%= link_to 'Edit', edit_event_path(event) %></td>
  <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <br>
<% end %>

<h3>Events Attend</h3>

<h4> Past Events</h4>
  <% @prev_events.each do |prev|%>
    <%= prev.description%>
    <br>
  <% end %>
<h4>Future Events</h4>
  <% @next_events.each do |fut|%>
    <%= fut.description%>
    <br>
  <% end %>

<h3>All Attend Events</h3>
<% if @events.any?%>
  <% @events.each do |i|%>
    <% current_user.attended_events.ids.each do |id|%>
      <% if i.id == id%>
        <%= i.description%>
        <br>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="container-fluid">
  <div class="row border d-flex align-items-center border-info">
    <div class="col-3 text-center">
      <h2 class="text-uppercase">Events created by me</h2>
    </div>
    <div class="col-3 text-center">
      <h2 class="text-uppercase">My list of events</h2>
    </div>
    <div class="col-3 text-center">
      <h2 class="text-uppercase">My previous events</h2>
    </div>
    <div class="col-3 text-center">
      <h2 class="text-uppercase">My upcoming events</h2>
    </div>
  </div>
  <div class="row border border-info d-flex">
    <div class="col-3 text-center d-flex flex-column">
      <% current_user.events.each do |event| %>
        <%= event.description%>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <br>
      <% end %>
    </div>

    <div class="col-3 text-center d-flex flex-column">
      <% if @events.any?%>
        <% @events.each do |i|%>
          <% current_user.attended_events.ids.each do |id|%>
            <% if i.id == id%>
            <%= i.description%>
            <br>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-3 text-center d-flex flex-column">
      <% @prev_events.each do |prev|%>
        <%= prev.description%>
        <br>
      <% end %>
    </div>

    <div class="col-3 text-center d-flex flex-column">
      <% @next_events.each do |fut|%>
        <%= fut.description%>
        <br>
      <% end %>
    </div>
  </div>
</div>