<h1>Welcome</h1>

<% if logged_in? %>
  <h1>You are Logged In, <%= current_user.username %></h1>
  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= current_user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= current_user.password %>
</p>

<%= link_to 'Back', users_path %>

<%end%>

<%= button_to "Log Out", logout_path , method: :delete%>

<br>
<br>

<h2>Events available</h2>
<% if @events.any?%>
  <% @events.each do |event| %>
      <br>
      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= link_to 'Show', event  %></td>
      </tr>
    <% end %>
<% end %>
<br>
<br>
<%= link_to 'New Event', new_event_path %> <br>

<h3>My Events</h3>

<% current_user.events.each do |event| %>
  <%= event.description%>
  <td><%= link_to 'Edit', edit_event_path(event) %></td>
  <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <br>
<% end %>

<h3>Events Attend</h3>

<h4> Past Events</h4>
  <% @prev_events.each do |prev|%>
    <%= prev.description%>
    <br>
  <% end %>
<h4>Future Events</h4>
  <% @next_events.each do |fut|%>
    <%= fut.description%>
    <br>
  <% end %>

<h3>All Attend Events</h3>
<% if @events.any?%>
  <% @events.each do |i|%>
    <% current_user.attended_events.ids.each do |id|%>
      <% if i.id == id%>
        <%= i.description%>
        <br>
      <% end %>
    <% end %>
  <% end %>
<% end %>